/* You can add global styles to this file, and also import other style files */
/* @import "~primeicons/primeicons.css"; */
/* @import "~primeng/resources/themes/nova-light/theme.css"; */
/* @import "~primeng/resources/primeng.min.css"; */


body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #404C51;
}

label{
  font-weight: bold;
}


@media (min-width: 1200px){

  container {
    width: 1170px;
    margin: 0 auto;

  }
}
